table{
    width: 100%;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

caption{
    color: #283618;
    font-family: 'Trocchi', serif;
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
}
th{
    color: #fefae0;
    background-color: rgba(0,0,0,0.5);
}

tr{
    text-align: center;
}

/*Seleccionar los renglones pares*/
tr:nth-child(even){
    background-color: #dfe6dd;
}

/*Seleccionar los renglones impares*/
tr:nth-child(odd){
    background-color: #a8dadc;
}